<div class="pos-absolute-top bg-inverse ht-60 ht-lg-70 d-flex align-items-center pd-x-25 bd-b bd-color-gray-dark-light">
  <h5 class="tx-size-22 tx-bold tx-spacing-neg-1 mg-b-0"><a href="" class="tx-white">
      <i class="fa fa-code tx-info mg-r-2"></i>
      Code <span class="tx-gray-light tx-normal">and Cup</span></a></h5>
</div>
<div class="left-list pos-absolute t-60 t-lg-70 r-0 b-0 l-0 overflow-y-auto">
  <div class="pd-10 hidden-md-up">
    <div class="input-group">
      <input type="text" class="form-control form-control-inverse bd-color-gray-dark-light bd-r-0-force"
        placeholder="Makale ara">
      <span class="input-group-btn">
        <button class="btn btn-inverse tx-gray pd-x-15 bd-color-gray-dark-light bd-l-0-force" type="button"><i
            class="fa fa-search"></i></button>
      </span>
    </div>
  </div>
  <div class="pd-x-25 pd-t-25">
    <h6 class="tx-info tx-size-11 tx-uppercase tx-spacing-2">KATEGORİLER</h6>
  </div>
  <ul class="nav nav-outline-vertical nav-gray-light flex-column wd-100p">
    <li class="nav-item" *ngFor="let category of categories">
      <a [routerLink]="[ '/categories', category.Id, category.LinkName]" class="nav-link pd-x-25">
        <div class="d-flex align-items-center">
          <i class="icon ion-ios-albums-outline tx-size-32 lh-0 mg-r-10"></i>
          <span class="mg-r-auto">{{category.Name}}</span>
          <span class="tx-normal tx-size-12 tx-gray-light">{{category.ArticleCount}}</span>
        </div>
      </a>
    </li>
  </ul>
  <div class="pd-x-25 pd-t-25">
    <h6 class="tx-info tx-size-11 tx-uppercase tx-spacing-2">TAG BULUTU</h6>
  </div>
  <div class="tagcloud">
    <ul>
      <li *ngFor="let tag of tags">
        <a [routerLink]="[ '/tags', tag.Id,tag.LinkName]">{{tag.Name}}</a>
      </li>
    </ul>
  </div>

  <div class="pd-y-25 tx-center">
    <hr>
    <nav class="nav tx-size-18 justify-content-center">
      <a routerLink="/login" class="nav-link pd-x-5 tx-gray-light"><i class="fa fa-sign-in"></i></a>
      <a (click)="onLogout()" class="nav-link pd-x-5 tx-gray-light"><i class="fa fa-power-off"></i></a>
    </nav>
  </div>
</div>