<div class="pd-25">
    <div class="d-flex align-items-center justify-content-between">
        <h6 class="tx-size-12 tx-size-sm-14 tx-white tx-uppercase tx-spacing-2 mg-b-0">KATEGORİLER</h6>
        <a routerLink="/admin" class="tx-gray-light tx-uppercase tx-size-12">ANASAYFAYA DÖN <i class="fa fa-angle-right"></i></a>
      </div>
</div>
<hr class="bd-color-gray">
<div class="container">
  <ul class="nav justify-content-end mb-3">
    <li class="nav-item">
      <a routerLink="/admin/categoryadd" class="btn btn-primary">Kategori Ekle</a>
    </li>
  </ul>
  <div class="row">
    <div class="col-md-12">
        <table class="table table-dark table-hover">
            <tr>
              <td>Kategori</td>
              <td>Düzenle</td>
              <td>Durum</td>
            </tr>
            <tr *ngFor="let category of categories">
                <td>{{category.Name}}</td>
                <td><a [routerLink]="['/admin/categoryadd', category.Id]"><i class="fa fa-pencil"></i></a></td>
                <td><a [routerLink]="['/admin/categoryadd', category.Id]"><i class="fa fa-toggle-on"></i></a></td>
              </tr>
          </table>
    </div> 
  </div>
 </div>