<div class="pd-25">
  <div class="d-flex align-items-center justify-content-between">
    <h6 class="tx-size-12 tx-size-sm-14 tx-white tx-uppercase tx-spacing-2 mg-b-0">SON KOD YAZILARIM</h6>
    <a href="#" class="tx-gray-light tx-uppercase tx-size-12">Tümünü Gör <i class="fa fa-angle-right"></i></a>
  </div>

  <hr class="mg-y-25 bd-color-gray">

  <div class="row">
    <div class="col-sm-6 col-lg-3">
      <img src="assets/images/img27.jpg" class="img-fluid rounded" alt="">
      <h6 class="tx-size-14 tx-normal mg-t-15 mg-b-5"><a [routerLink]="['/detail', 'Test-baslik-gonder']" class="tx-white">Electric Guitar Soundtrack</a></h6>
      <p class="mg-b-5">A calm and relaxing guitar soundtrack.</p>
      <span class="tx-gray-light">10, 323 Listeners</span>
    </div><!-- col-3 -->
    <div class="col-sm-6 col-lg-3 mg-t-25 mg-sm-t-0">
      <img src="assets/images/img26.jpg" class="img-fluid rounded" alt="">
      <h6 class="tx-size-14 tx-normal mg-t-15 mg-b-5"><a href="#" class="tx-white">Ocean Deep Waves</a></h6>
      <p class="mg-b-5">Relax to the sound of ocean deep waves.</p>
      <span class="tx-gray-light">7, 323 Listeners</span>
    </div><!-- col-3 -->
    <div class="col-sm-6 col-lg-3 mg-t-25 mg-lg-t-0">
      <img src="assets/images/img33.jpg" class="img-fluid rounded" alt="">
      <h6 class="tx-size-14 tx-normal mg-t-15 mg-b-5"><a href="#" class="tx-white">Country Hit List</a></h6>
      <p class="mg-b-5">A country album celebrating the best music.</p>
      <span class="tx-gray-light">9, 992 Listeners</span>
    </div><!-- col-3 -->
    <div class="col-sm-6 col-lg-3 mg-t-25 mg-lg-t-0">
      <img src="assets/images/img58.jpg" class="img-fluid rounded" alt="">
      <h6 class="tx-size-14 tx-normal mg-t-15 mg-b-5"><a href="#" class="tx-white">All New All Now</a></h6>
      <p class="mg-b-5">All the music you need to hear right now.</p>
      <span class="tx-gray-light">5, 095 Listeners</span>
    </div><!-- col-3 -->
  </div><!-- row -->

  <div class="d-flex align-items-center justify-content-between mg-t-60">
    <h6 class="tx-size-12 tx-size-sm-14 tx-white tx-uppercase tx-spacing-2 mg-b-0">SON FİNCAN DİBİ YAZILARIM</h6>
    <a href="#" class="tx-gray-light tx-uppercase tx-size-12">Tümünü Gör <i class="fa fa-angle-right"></i></a>
  </div>

  <hr class="mg-y-25 bd-color-gray">

  <div class="row">
    <div class="col-sm-6 col-lg-3">
      <img src="assets/images/img47.jpg" class="img-fluid rounded" alt="">
      <h6 class="tx-size-14 mg-t-15 mg-b-5 tx-normal"><a href="detail.html" class="tx-white">Katherine Lumaad</a></h6>
      <span class="tx-gray-light">210, 323 Followers</span>
    </div><!-- col-3 -->
    <div class="col-sm-6 col-lg-3 mg-t-25 mg-sm-t-0">
      <img src="assets/images/img197.jpg" class="img-fluid rounded" alt="">
      <h6 class="tx-size-14 mg-t-15 mg-b-5 tx-normal"><a href="#" class="tx-white">Angeline Mercado</a></h6>
      <span class="tx-gray-light">7, 323 Followers</span>
    </div><!-- col-3 -->
    <div class="col-sm-6 col-lg-3 mg-t-25 mg-lg-t-0">
      <img src="assets/images/img202.jpg" class="img-fluid rounded" alt="">
      <h6 class="tx-size-14 mg-t-15 mg-b-5 tx-normal"><a href="#" class="tx-white">Joyce Chua</a></h6>
      <span class="tx-gray-light">143,021 Followers</span>
    </div><!-- col-3 -->
    <div class="col-sm-6 col-lg-3 mg-t-25 mg-lg-t-0">
      <img src="assets/images/img200.jpg" class="img-fluid rounded" alt="">
      <h6 class="tx-size-14 mg-t-15 mg-b-5 tx-normal"><a href="#" class="tx-white">Reynante Labares</a></h6>
      <span class="tx-gray-light">21, 323 Followers</span>
    </div><!-- col-3 -->
  </div><!-- row -->

  <hr class="mg-t-60 bd-color-gray">

  <div class="d-md-flex align-items-center flex-row-reverse justify-content-between">
    <span class="d-block tx-size-11 tx-size-sm-12 mg-t-15 mg-sm-t-10 mg-md-t-0">&copy; 2019, Sefa Çaksu.
      Tüm hakları saklıdır. </span>
  </div>
</div>