<div class="pd-25">
  <div class="d-flex align-items-center justify-content-between">
    <h6 class="tx-size-12 tx-size-sm-14 tx-white tx-uppercase tx-spacing-2 mg-b-0">SON TEKNİK YAZILARIM</h6>
    <a routerLink="/code" class="tx-gray-light tx-uppercase tx-size-12">Tümünü Gör <i class="fa fa-angle-right"></i></a>
  </div>

  <hr class="mg-y-15 bd-color-gray">

  <div class="row">
    <div class="col-sm-6 col-lg-3 story-card" *ngFor="let tech of techArticles">
      <a [routerLink]="['/detail', tech.Id, tech.LinkTitle]">
        <div class="story-card-img"  [ngStyle]="{background: 'url('+ tech.Img +')'}"></div>
        </a>
      <div class="title">
          <a [routerLink]="['/detail', tech.Id, tech.LinkTitle]">{{tech.Title}}</a>
      </div>
      <div class="inst">
      <p>{{tech.Introduction | slice:0:90}} <a [routerLink]="['/detail', tech.Id, tech.LinkTitle]">...</a></p>
    </div>
    <span style="padding-left: 10px;color:#000;font-weight:500;"><i>{{tech.CreatedDate  | date: 'dd/MM/yyyy'}}</i></span>
    <a class="tag" [routerLink]="['/categories', tech.CategoryId, tech.CategoryLinkName]">{{tech.CategoryName}}</a>
    </div>
  </div>

  <div class="d-flex align-items-center justify-content-between mg-t-30">
    <h6 class="tx-size-12 tx-size-sm-14 tx-white tx-uppercase tx-spacing-2 mg-b-0">SON FİNCAN DİBİ YAZILARIM</h6>
    <a routerLink="/fincandibi" class="tx-gray-light tx-uppercase tx-size-12">Tümünü Gör <i class="fa fa-angle-right"></i></a>
  </div>

  <hr class="mg-y-15 bd-color-gray">

  <div class="row">
      <div class="col-sm-6 col-lg-3 story-card" *ngFor="let tech of cupArticles">
        <a [routerLink]="['/detail', tech.Id, tech.LinkTitle]">
          <div class="story-card-img"  [ngStyle]="{background: 'url('+ tech.Img +')'}"></div>
          </a>
        <div class="title">
            <a [routerLink]="['/detail', tech.Id, tech.LinkTitle]">{{tech.Title}}</a>
        </div>
        <div class="inst">
        <p>{{tech.Introduction | slice:0:90}} <a [routerLink]="['/detail', tech.Id, tech.LinkTitle]">...</a></p>
      </div>
      <span style="padding-left: 10px;color:#000;font-weight:500;"><i>{{tech.CreatedDate  | date: 'dd/MM/yyyy'}}</i></span>
      <a class="tag" [routerLink]="['/categories', tech.CategoryId, tech.CategoryLinkName]">{{tech.CategoryName}}</a>
      </div>
    </div>
</div>