<div class="pd-25">
  <div class="d-flex align-items-center justify-content-between">
      <h6 class="tx-size-12 tx-size-sm-14 tx-white tx-uppercase tx-spacing-2 mg-b-0">İLETİŞİM</h6>
  </div>
  <hr class="mg-y-25 bd-color-gray">

  <div class="row">
      <div class="col-12 mg-t-20">
          <blockquote class="blockquote text-center">
              <p class="mb-0">Yoğunluğumdan dolayı hızlı dönüş yapamazsam özür dilerim. Mümkün olan en
                  hızlı zamanda dönüş yapacağım.</p>
          </blockquote>
      </div>

      <div class="col-sm-12 col-md-6 mg-t-20">
          <div class="form-group">
              <div class="input-group mb-2">
                  <span class="input-group-btn">
                      <button
                          class="btn btn-inverse tx-white pd-x-15 bd-color-gray-dark-light bd-l-0-force disabled"
                          type="button"><i class="fa fa-user-o"></i></button>
                  </span>
                  <input type="text" class="form-control bd-color-gray-dark-light"
                      id="name" name="name" placeholder="Ad Soyad" required>
              </div>
          </div>
          <div class="form-group">
              <div class="input-group mb-2">
                  <span class="input-group-btn">
                      <button
                          class="btn btn-inverse tx-white pd-x-15 bd-color-gray-dark-light bd-l-0-force disabled"
                          type="button"><i class="fa fa-envelope"></i></button>
                  </span>
                  <input type="email" class="form-control bd-color-gray-dark-light"
                      id="email" name="email" placeholder="Email" required>
              </div>
          </div>
          <div class="form-group">
              <div class="input-group mb-2">
                  <span class="input-group-btn">
                      <button
                          class="btn btn-inverse tx-white pd-x-15 bd-color-gray-dark-light bd-l-0-force disabled"
                          type="button"><i class="fa fa-question-circle-o"></i></button>
                  </span>
                  <input type="text" class="form-control bd-color-gray-dark-light"
                      id="subject" name="subject" placeholder="Konu" required>
              </div>
          </div>
          <div class="form-group">
              <input type="file" class="form-control-file" id="exampleFormControlFile1">
          </div>
      </div>
      <div class="col-sm-12 col-md-6  mg-t-20">
          <div class="form-group">
              <div class="input-group mb-2">
                  <span class="input-group-btn">
                      <button
                          class="btn btn-inverse tx-white pd-x-15 bd-color-gray-dark-light bd-l-0-force disabled"
                          type="button" style="height:203px;"><i class="fa fa-pencil"></i></button>
                  </span>
                  <textarea class="form-control bd-color-gray-dark-light"
                      id="message" name="message" placeholder="Mesaj" required rows="9"></textarea>
              </div>
          </div>
      </div>
      <div class="col text-right">
          <button type="submit" class="btn btn-inverse tx-gray pd-x-15 bd-color-gray-dark-light">Gönder</button>
      </div>
  </div>

  <hr class="mg-t-60 bd-color-gray">

  <div class="d-md-flex align-items-center flex-row-reverse justify-content-between">
      <span class="d-block tx-size-11 tx-size-sm-12 mg-t-15 mg-sm-t-10 mg-md-t-0">&copy; 2019, Sefa Çaksu.
          Tüm hakları saklıdır. </span>
  </div>
</div>