<div class="tx-center pd-y-25">
  <img src="assets/images/person.jpg" class="wd-100 rounded-circle" alt="">
  <h6 class="tx-white mg-t-15 mg-b-2 tx-normal">{{profile.Name}}</h6>
  <p class="mg-b-10">{{profile.Title}}</p>
  <p class="pd-x-15 mg-b-5">
    {{profile.Description}}
  </p>

  <nav class="nav tx-size-18 justify-content-center">
    <a href="{{profile.Linkedin}}" target="_blank" class="nav-link pd-x-5 tx-gray-light"><i
        class="fa fa-linkedin"></i></a>
    <a href="{{profile.Medium}}" target="_blank" class="nav-link pd-x-5 tx-gray-light"><i class="fa fa-medium"></i></a>
    <a href="{{profile.Github}}" target="_blank" class="nav-link pd-x-5 tx-gray-light"><i class="fa fa-github"></i></a>
    <a href="{{profile.Instagram}}" target="_blank" class="nav-link pd-x-5 tx-gray-light"><i
        class="fa fa-instagram"></i></a>
    <a href="{{profile.Facebook}}" target="_blank" class="nav-link pd-x-5 tx-gray-light"><i
        class="fa fa-facebook"></i></a>
  </nav>
</div>
<div class="row no-gutters">
  <div class="col">
    <div class="pd-y-15 tx-center bd-y bd-color-gray-dark-light">
      <i style="color:#ffca39" class="icon fa fa-code tx-size-32 lh-0"></i>
      <h4 class="tx-white mg-t-10 mg-b-2">{{technicalCount}}</h4>
      <p class="mg-b-0 tx-size-10 tx-spacing-2 tx-uppercase">Teknik Paylaşım</p>
    </div>
  </div>
  <div class="col bd-l bd-color-gray-dark-light">
    <div class="pd-y-15 tx-center bd-y bd-color-gray-dark-light">
      <i style="color:#ffca39" class="icon fa fa-coffee tx-size-32 lh-0"></i>
      <h4 class="tx-white mg-t-10 mg-b-2">{{cupCount}}</h4>
      <p class="mg-b-0 tx-size-10 tx-spacing-2 tx-uppercase">Fincan Dibi</p>
    </div>
  </div>
</div>
<div class="pd-x-10 pd-t-25 tx-center">
  <h6 class="tx-info tx-size-11 tx-uppercase tx-spacing-2">Haberdar Ol </h6>
  <form name="form" (ngSubmit)="f.form.valid && onSubmitNews()" #f="ngForm" novalidate>
    <div class="input-group" [ngClass]="{ 'is-invalid': Email.invalid }">
      <input type="email" name="userEmail" id="userEmail"  class="form-control form-control-inverse bd-color-gray-dark-light bd-r-0-force"
        placeholder="E-posta" [(ngModel)]="news.Email" #Email="ngModel" email>
      <span class="input-group-btn">
        <button class="btn btn-inverse tx-gray pd-x-15 bd-color-gray-dark-light bd-l-0-force" type="submit"><i class="fa fa-envelope-o"></i></button>
      </span>
    </div>
  </form>
</div>
<div class="pd-t-25 pd-x-2 tx-center">
  <h6 class="tx-info tx-size-11 tx-uppercase tx-spacing-2">Çalma Listem</h6>
  <iframe src="https://open.spotify.com/embed/playlist/12BN0hSACrUgjkNVuj8TFb&theme=white" width="236" height="356" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
  <br>
</div>