<div class="leftpanel bg-inverse bd-r bd-color-gray-dark-light pos-fixed-left wd-240 z-index-50 hidden-md-down">
  <app-leftbar></app-leftbar>
</div>
<div class="mobile-head pos-fixed-top bg-inverse z-index-200 pd-x-20 l-lg-240 bd-b bd-color-gray-dark-light ht-60 ht-lg-70 d-flex justify-content-between align-items-center hidden-xl-up">
  <a id="showLeftMenu" href="#" class="tx-gray-light lh-0"><i class="fa fa-navicon tx-size-18"></i></a>
  <h5 class="tx-size-18 tx-size-lg-22 tx-bold tx-spacing-neg-1 mg-b-0 hidden-lg-up"><a href="" class="tx-white"><i
        class="fa fa-code tx-info mg-r-2"></i> Sefa <span class="tx-gray tx-normal"> Çaksu</span></a></h5>
  <a id="showRightMenu" href="#" class="tx-gray-light lh-0"><i class="fa fa-user-circle-o tx-size-18"></i></a>
</div>
<div
  class="main pos-lg-absolute pos-xl-fixed t-0 l-0 l-lg-240 r-0 r-xl-240 b-0 z-index-100 pd-t-60 pd-lg-t-70 pd-xl-t-0">
  <app-header></app-header>
  <div class="main-body pos-xl-absolute t-70 r-0 b-0 l-0 overflow-y-auto">
    <router-outlet></router-outlet>
  </div>
</div>
<div
  class="rightpanel bg-inverse bd-l bd-color-gray-dark-light pos-fixed-right wd-240 overflow-y-auto z-index-50 hidden-lg-down">
  <app-rightbar></app-rightbar>
</div>