<div class="pd-40 error-main">
<div class="error-content">
  <div class="error">
    <div class="wrap">
      <div class="404">
        <pre>
          <code>
           <span class="green">&lt;!</span><span>DOCTYPE html</span><span class="green">&gt;</span>
              <span class="orange">&lt;html&gt;</span>
                <span class="orange">&lt;style&gt;</span>
                  * {{'{'}}
                        <span class="green">hersey</span>:<span class="blue">cok-guzel-olacak</span>;
                    {{'}'}}
                <span class="orange">&lt;/style&gt;</span>
              <span class="orange">&lt;body&gt;</span> 
                HATA 404! SAYFA BULUNAMADI!
                <span class="comment">&lt;!--Aradağınız sayfa burada değil, 
                     arama kutucuğunu kullanabilirsiniz.--&gt;</span>
              <span class="info"></span>
              <span class="orange">&nbsp;&lt;/body&gt;</span>
            <span class="orange">&lt;/html&gt;</span>
            
          </code>
        </pre>
      </div>
    </div>
  </div>
</div>
</div>