<div
  class="main-header pos-xl-absolute-top bg-inverse mn-ht-70 pd-x-10 pd-t-20 pd-sm-t-0 d-flex align-items-start align-items-sm-center justify-content-between bd-b bd-color-gray-dark-light">
  <nav
    class="nav nav-main nav-outline nav-gray-light nav-active-info tx-bold tx-uppercase tx-size-12 tx-spacing-2 pd-x-0 bd-b-0">
    <a routerLink="/blog" class="nav-link" routerLinkActive="active">BLOG</a>
    <a routerLink="/fincandibi" class="nav-link" routerLinkActive="active">FİNCAN DİBİ</a>
    <a routerLink="/iletisim" class="nav-link" routerLinkActive="active">ULAŞMAK İSTERSEN</a>
  </nav>
  <div class="input-group wd-md-200 wd-lg-250 mg-t-20 mg-md-t-0 hidden-sm-down">
    <input type="text" class="form-control form-control-inverse bd-color-gray-dark-light bd-r-0-force"
      placeholder="Makale ara">
    <span class="input-group-btn">
      <button class="btn btn-inverse tx-gray pd-x-15 bd-color-gray-dark-light bd-l-0-force" type="button"><i
          class="fa fa-search"></i></button>
    </span>
  </div>
</div>